# basic
*
.DS_Store
!.gitignore
!README.md

# zsh
!zsh
!zsh/zshrc
!zsh/aliases.zsh
!zsh/environment.zsh
!zsh/prompt.zsh

# homebrew
!Brewfile

# starship
!starship.toml

# alfred
!alfred
!alfred/Alfred.alfredpreferences/preferences/appearance
!alfred/Alfred.alfredpreferences/preferences/feature
!alfred/Alfred.alfredpreferences/preferences/themes
!alfred/Alfred.alfredpreferences/themes


# firefox
!firefox
!firefox/userChrome.css

# iterm2
!iterm2
!iterm2/settings
!iterm2/settings/com.googlecode.iterm2.plist

# karabiner
!karabiner
!karabiner/karabiner.json

# vscode
!vscode.extensions
!vscode.settings.json

# nvim
!nvim
!nvim/**

# mise
!mise
!mise/config.toml
