# basic
*
.DS_Store
!.gitignore
!README.md

# zsh
!zsh
!zsh/zshrc
!zsh/aliases.zsh
!zsh/environment.zsh
!zsh/prompt.zsh

# homebrew
!Brewfile

# starship
!starship.toml

# alfred
!alfred
!alfred/Alfred.alfredpreferences
!alfred/Alfred.alfredpreferences/preferences
!alfred/Alfred.alfredpreferences/preferences/appearance
!alfred/Alfred.alfredpreferences/preferences/appearance/**
!alfred/Alfred.alfredpreferences/preferences/features
!alfred/Alfred.alfredpreferences/preferences/features/**
!alfred/Alfred.alfredpreferences/themes
!alfred/Alfred.alfredpreferences/themes/**

# firefox
!firefox
!firefox/userChrome.css

# alacritty
!alacritty
!alacritty/alacritty.toml
!alacritty/themes
!alacritty/themes/*
!alacritty/icon.sh

# iterm2
!iterm2
!iterm2/settings
!iterm2/settings/com.googlecode.iterm2.plist

# karabiner
!karabiner
!karabiner/karabiner.json

# ubersicht
!ubersicht
!ubersicht/widgets
!ubersicht/widgets/**

# vscode
!vscode.extensions
!vscode.settings.json

# nvim
!nvim
!nvim/**

# mise
!mise
!mise/config.toml
