atom-text-editor {
  padding: 0.5em 1em;
  text-rendering: optimizeLegibility;

  .scroll-view {
    padding-left: 1em;
  }
}

atom-overlay {
  margin-top: 0.5em;
  margin-left: 2em;
}

atom-pane-container atom-pane.pane {
  border: none;
}

.tool-bar,
.tool-panel.panel-left,
.tab-bar {
  display: none;
}

.title-bar .title {
  display: none;
}

atom-panel.header {
  border: none;
}
