<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>currentthemeuid</key>
	<string>theme.fileimport.8B5FF332-99E3-4539-9566-69EED846B8EB</string>
	<key>lightthemeuid</key>
	<string>theme.fileimport.8B5FF332-99E3-4539-9566-69EED846B8EB</string>
</dict>
</plist>
