#navigator-toolbox {
  border-bottom: none !important;
}

#nav-bar {
  /* visibility: collapse !important; */
  min-height: 0px !important;
  max-height: 0px !important;
  overflow: hidden !important;
  box-shadow: none !important;
}

.titlebar-buttonbox-container {
  display: none !important;
}

.titlebar-spacer[type='pre-tabs'],
.titlebar-spacer[type='post-tabs'] {
  width: 8px !important;
  padding: 0;
  margin: 0;
}

.tabbrowser-tab[selected] .tab-background {
  background-color: rgb(32, 37, 45) !important;
  background-image: none !important;
  box-shadow: none !important;
}

.tabbrowser-tab[selected] .tab-content {
  color: #eceff4 !important;
}

.tab-close-button {
  display: none !important;
}
